<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="dark">
                <p class="text-faded">I recently graduated after studying chemical engineering at the University of Sheffield. Before committing to any long term plans (job, further studies etc.) I'm spending some time to work on mathematics, science and robotics related projects.</p>
                <a href="#" class="btn btn-default btn-xl">Back up</a>
            </div>
        </div>
    </div>
</section>
