<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Interests</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <i img src="img/header.jpg" width="250" height"250"></i>
                    <h3>Mathematics and modelling</h3>
                    <ul>
                        <li class="text-muted">Self-studying various topics within mathematics, particularly surrounding number theory.</li>
                        <li class="text-muted">Self-learning maching learning with Python.</li>
                        <li class="text-muted">I like to write about interesting results, proofs, derivations etc. that I come across.</li>
                        <li class="text-muted">Hopefully anyone who visits may become more interested in exloring maths and science.</li>
                    </ul>  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Robotics</h3>
                    <ul>
                        <li class="text-muted">Working on making an autonomous robot to learn more about robotics.</li>
                        <li class="text-muted">Current progress - lane detection and object avoidance.</li>
                        <li class="text-muted">Future - implement some machine learning for object recognition and improved object avoidance.</li>
                        <li class="text-muted">Progress will be documented here.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Engineering</h3>
                    <ul>
                        <li class="text-muted">Particularly interested in low carbon technologies.</li>
                        <li class="text-muted">Mathematical modelling and optimisation engineering solutions to combat climate change.</li>
                        <li class="text-muted">Previous research in mathematical modelling and optimisation of microalgae growth systems for CO2 utilisation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
